.wrap_template {
    width: 90%;
    margin: 4% auto;
}
.form_wrap {
    width: 90%;
    margin: 0 auto;
}
/* .form-group:first-of-type {
    margin-bottom: 10px;
} */
h1 {
    margin-bottom: 3%;
}
.form-row > .col {
    padding-right: 30px;
}
.cancle {
    margin-right: 10px;
}
.submit{
    margin: 5% 0 3% 0;
}
.col-sm-1 {
    font-size: 14px;
    font-weight: 600;
}
thead tr th{
    text-align: center;
}
tbody tr th:first-of-type {
    text-align: center;
}
