.event_wrap {
    padding: 30px;
    background-color: white;
}

.text {
    font-size: 35px;
    font-weight: bold;
    margin: 30px 0 0 20px;
}

.event-form-group {
    margin-top: 30px;
}

.title span{
    font-size: 20px;
    margin-left: 30px;
    font-weight: bold;
}
.text2 {
    font-size: 20px;
    line-height: 40px;
}
.search {
    margin-top: 25px;
}

.search button:first-child {
    margin-right:10px;
   
}

.search button {
    height:40px;
    font-size: 15px;
}
.event_button_wrap {
    margin-top: 30px;
   
}
.event_button_wrap button {
    height:40px;
    font-size: 15px;
    margin-bottom: 50px;
}
.register {
    margin-bottom: 20px;
    font-size: 15px;
}

th {
    text-align: center;
}

.line{
    width: 190px;
}