.image_wrap {
  width: 300px;
  position: relative;
  /* outline: 1px solid red; */
  margin-top: 10px;
}
.img {
  width: 100%;
  background-color: yellow;
}
.button_wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    /* outline: 1px solid blue; */
    margin-right: 10px;
}